ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

h1, h2, h3 {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

body {
  font-family: "Montserrat";
}

.container {
  width: 1140px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

header {
  padding-top: 40px;
  padding-bottom: 40px;
  position: fixed;
  width: 100%;
  background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.05));
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
}

.navigation__list {
  display: flex;
  justify-content: flex-end;
}

.navigation__item {
  margin-right: 40px;
}

.navigation__item:last-child {
  margin-right: 0;
}

.navigation__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #FFFFFF;
  position: relative;
  padding-top: 20px;
  padding-bottom: 39px;
  transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link-active::before {
  content: "";
  width: 100%;
  border: 2px solid #FFFFFF;
  position: absolute;
  bottom: 0px;
  border-radius: 2px;
  opacity: 0;
  transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: scale(0);
}

.navigation__item:hover .navigation__link::before,
.navigation__item:focus .navigation__link::before {
  border-color: #4985FF;
  opacity: 1;
  transform: scale(1);
}

.navigation__link:hover,
.navigation__link:focus {
  color: #4985FF;
}

.navigation__link:active {
  color: red;
}

.hero {
  padding-top: 320px;
  padding-bottom: 335px;
  background-color: rgb(77, 72, 72);
  text-align: center;
  background-image: url(../../images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero:hover {
  box-shadow: -1px 0px 25px 12px rgb(10, 84, 255) inset;
}

.hero__text {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #FFFFFF;
}

.hero__title {
  margin-bottom: 50px;
  font-weight: 800;
  font-size: 48px;
  line-height: 1.33;
  color: #FFFFFF;
  transform: scale(1);
  transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero:hover .hero__title {
  text-shadow: 10px 10px 20px red, 20px 20px 40px blue;
  transform: scale(1.1);
}

.hero__btn {
  padding: 15px 36px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #FFFFFF;
  background-color: #4985FF;
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
  border: none;
  transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__btn:hover,
.hero__btn:focus {
  color: #4985FF;
  background-color: #FFFFFF;
  cursor: pointer;
}

.hero__btn:active {
  background-color: red;
  color: black;
}

.hero__icon {
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 30px;
  height: 45px;
  background-size: cover;
  cursor: pointer;
}

.hero__icon:hover {
  stroke: red;
  stroke-width: 2px;
}

.services {
  padding-top: 110px;
  padding-bottom: 110px;
}

.services__title {
  width: 740px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.47;
  text-align: center;
  color: #323232;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 32px;
}

.services__text {
  width: 730px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 70px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.56;
  text-align: center;
  color: #999999;
}

.services__list {
  display: flex;
}

.services__item {
  margin-right: 27px;
  display: flex;
}

.services__item:last-child {
  margin-right: 0;
}

.services__border-out {
  box-sizing: border-box;
  border-radius: 50%;
  width: 110px;
  height: 110px;
  border: 1px solid #E0E0E0;
  padding: 10px;
}

.services__border-in {
  width: 90px;
  height: 90px;
  padding: 25px;
  box-sizing: border-box;
  border-radius: 50%;
  border: 1px solid #4985FF;
}

.services__icon {
  display: block;
  fill: #4985FF;
  width: 40px;
  height: 40px;
}

.services__content {
  margin-left: 17px;
  margin-top: 50px;
}

.services__subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: #000000;
  margin-bottom: 12px;
}

.services__deskription {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57;
  color: #999999;
  display: block;
  margin-bottom: 55px;
}

.services__btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #FFFFFF;
  padding: 15px 36px;
  background-color: #4985FF;
  border-radius: 30px;
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.services__btn:hover,
.services__btn:focus {
  color: #4985FF;
  background-color: #FFFFFF;
  cursor: pointer;
}

.services__btn:active {
  background-color: red;
  color: black;
}

.about-us {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #F6F6F8;
}

.about__cont {
  display: flex;
  border-bottom: 1px solid #E0E0E0;
  margin-bottom: 70px;
}

.about__content {
  display: block;
}

.about-us__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.47;
  color: #323232;
  width: 489px;
  margin-bottom: 60px;
}

.about-us__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.56;
  color: #999999;
  width: 489px;
  margin-bottom: 42px;
}

.about-us__link {
  display: block;
  color: #4985FF;
  text-decoration-line: underline;
}

.about-us__image {
  width: 500px;
  height: 400px;
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
  margin-left: auto;
  margin-bottom: 90px;
  transform: scale(1);
  transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.about-us__image:hover {
  transform: scale(1.1);
}

.about-us__list {
  display: flex;
  justify-content: space-around;
}

.about-us__box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-us__box:hover .about-us__icon {
  fill: red;
}

.about-us__box:hover .about-us__number {
  color: red;
}

.about-us__box:hover + .about-us__info {
  color: #4985FF;
}

.about-us__icon {
  width: 30px;
  height: 30px;
  fill: #4985FF;
  transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.about-us__number {
  font-weight: 400;
  font-size: 36px;
  line-height: 1.47;
  color: #000000;
  margin-left: 20px;
  transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.about-us__info {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.56;
  color: #999999;
  margin-top: 17px;
  transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.works {
  padding-top: 100px;
  padding-bottom: 85px;
  background-image: linear-gradient(to bottom, #504DC2 50%, #5F12D0, white 50%);
  background: linear-gradient(to bottom, #000000 15%, #0f9b0f, white 50%);
}

.works__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.works__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.47;
  color: #FFFFFF;
  width: 540px;
  text-shadow: 5px 5px 10px tomato, 10px 10px 20px black;
}

.works__btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: #FFFFFF;
  padding: 15px 36px;
  background-color: #4985FF;
  border-radius: 30px;
  border: none;
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  margin-left: 370px;
  transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.works__btn:hover,
.works__btn:focus {
  color: #4985FF;
  background-color: #FFFFFF;
  cursor: pointer;
}

.works__btn:active {
  background-color: red;
  color: black;
}

.works__list {
  display: flex;
  justify-content: center;
  margin-top: 70px;
  margin-bottom: 85px;
}

.works__item {
  margin-right: 30px;
  width: 350px;
}

.works__item:last-child {
  margin-right: 0;
}

.works__images {
  display: block;
  margin-bottom: 30px;
  transform: scale(1);
  transition: 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.works__images:hover {
  transform: scale(1.1) rotateY(180deg);
}

.works__description {
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: #000000;
}

.work__decor {
  color: #4985FF;
}

.works__text {
  margin-bottom: 47px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.56;
  color: #999999;
}

.works__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-decoration-line: underline;
  color: #4985FF;
}

.works__line {
  border: 1px solid #E0E0E0;
}

.projects {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #F6F6F8;
}

.projects__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.47;
  text-align: center;
  color: #000000;
  margin-bottom: 50px;
}

.projects__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.56;
  text-align: center;
  color: #999999;
  width: 730px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
}

.projects__list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.projects__item {
  margin-right: 30px;
}

.projects__item:last-child {
  margin-right: 0;
}

.projects__images {
  width: 255px;
  height: 255px;
  border-radius: 10px;
  transform: scale(1);
  transition: 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__images:hover {
  transform: scale(1.1) rotateX(180deg);
}

.projects__btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: #FFFFFF;
  padding: 15px 36px;
  border-radius: 30px;
  border: none;
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  background-color: #4985FF;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__btn:hover,
.projects__btn:focus {
  color: #4985FF;
  background-color: #FFFFFF;
  cursor: pointer;
}

.projects__btn:active {
  background-color: red;
  color: black;
}

.conteiner .video {
  overflow: hidden;
}

.video {
  background-image: url(../../images/video.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  padding-top: 70px;
  padding-bottom: 85px;
}

.video__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.47;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 30px;
  text-shadow: 10px 10px 20px red;
}

.video__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.56;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 70px;
}

.video__images {
  width: 970px;
  height: 430px;
  background-image: url(../../images/video-img.png);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-200%);
  transition: 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.video:hover .video__images {
  transform: translate(0);
}

.video__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.56;
  color: #FFFFFF;
  padding: 20px 40px;
  border: 1px solid #FFFFFF;
  border-radius: 200px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.video__button:hover,
.video__button:focus {
  color: red;
  border: 1px solid red;
  cursor: pointer;
}

.video__button::before {
  display: block;
  content: "";
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #4985FF;
  background-image: url(../../images/play.svg);
  margin-right: 21px;
  background-color: #4985FF;
}

.video__button:hover::before,
.video__button:focus::before {
  background-color: red;
  border: 1px solid red;
}

.video__border {
  border-bottom: 1px solid #E0E0E0;
  margin-top: 85px;
}

.subscribe {
  padding-bottom: 85px;
}

.subscribe__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  color: #000000;
  margin-bottom: 20px;
}

.subscribe__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.56;
  text-align: center;
  color: #999999;
  margin-bottom: 30px;
}

.subscribe__form {
  margin-bottom: 35px;
  display: flex;
  justify-content: center;
}

.subscribe__input {
  padding: 15px 149px 15px 33px;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.61;
  color: #999999;
  background: #FFFFFF;
  border: 1px solid #F2F2F2;
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px 0px 0px 30px;
  outline: none;
}

.subscribe__button {
  padding: 15px 36px;
  background: #4985FF;
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 0px 30px 30px 0px;
  border: transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: #FFFFFF;
  transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe__button:hover,
.subscribe__button:focus {
  color: #4985FF;
  background-color: #FFFFFF;
  cursor: pointer;
}

.subscribe__button:active {
  background-color: red;
  color: black;
}

.subscribe__info {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.61;
  text-align: center;
  color: #999999;
}

.footer {
  background-color: #F6F6F8;
  padding-top: 70px;
  padding-bottom: 30px;
  background: linear-gradient(to right, #000000, #434343);
}

.footer__list {
  display: flex;
  justify-content: center;
}

.footer__item {
  margin-right: 40px;
}

.footer__item:last-child {
  margin-right: 0;
}

.footer__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: #999999;
  margin-bottom: 35px;
}

.footer__contact {
  margin-bottom: 30px;
}

.footer__contact:last-child {
  margin-bottom: 0;
}

.footer__link {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57;
  color: #999999;
  transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__link:hover,
.footer__link:focus {
  color: #4985FF;
  stroke: red;
}

.footer__icon {
  fill: currentColor;
  width: 15px;
  height: 15px;
  margin-right: 15px;
}

.footer__border {
  border: 1px solid #E0E0E0;
  margin-top: 70px;
  margin-bottom: 30px;
}

.footer__mnemo {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.61;
  text-align: center;
  color: #999999;
}/*# sourceMappingURL=main.css.map */