.footer {
    background-color:  #F6F6F8;
    padding-top: 70px;
    padding-bottom: 30px;
}

.footer__list {
    display: flex;
    justify-content: center;
    
}

.footer__item {
    margin-right: 40px;
}

.footer__item:last-child {
    margin-right: 0;
}



.footer__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.22;
    color: #000000;
    // margin-right: 40px;
    margin-bottom: 35px;
}


.footer__contact {
    margin-bottom: 30px;
}



.footer__contact:last-child {
    margin-bottom: 0;
}

.footer__link {
    display: flex;
    align-items: center;
}

.footer__link:hover,
.footer__link:focus {
    color: #4985FF;
    
}

.footer__icon {
    fill: #999999;
    width: 15px;
    height: 15px;
    margin-right: 15px;
}


.footer__description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.57;
    color: #999999;
}

.footer__border {
    border: 1px solid #E0E0E0;
    margin-top: 70px;
    margin-bottom: 30px;
}

.footer__mnemo {
   font-weight: 400;
   font-size: 13px;
   line-height: 1.61;
   text-align: center;
   color: #999999;
}