header {
    padding-top: 40px ;
    padding-bottom: 40px;
    // border-bottom: 1px solid rgba(161, 161, 161, 0.5);
    position: fixed;
    width: 100%;
    background-image: linear-gradient(to bottom,  rgba(0, 0, 0), rgba(0, 0, 0, 0.5),  rgba(0, 0, 0, 0.05));
    backdrop-filter: blur(1px);
}



.navigation__list {
    display: flex;
   justify-content: flex-end;
   

}


.navigation__item {
 margin-right: 40px;
}

.navigation__item:last-child {
    margin-right: 0;
}

.navigation__link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    color: #FFFFFF;

}

.navigation__link:hover,
.navigation__link:focus {
    color: #4985FF;
}

.navigation__link:active {
    color: red;
}
