.hero {
    padding-top: 320px;
    padding-bottom: 335px;
    background-color: rgb(77, 72, 72);
    text-align: center;
    background-image: url(../../images/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.hero__text {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    color: #FFFFFF;
    

}

.hero__title {
    margin-bottom: 50px;
    font-weight: 800;
    font-size: 48px;
    line-height: 1.33;
    color: #FFFFFF;
     text-shadow: 10px 10px 20px red, 20px 20px 40px blue;
}

.hero__btn {
    padding: 15px 36px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    color: #FFFFFF;
    background-color:  #4985FF;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px;
    border: none;
}

.hero__btn:hover,
.hero__btn:focus {
    color: #4985FF;
    background-color: #FFFFFF;
    cursor: pointer;
}

.hero__btn:active {
    background-color: red;
    color: black;
}