.video {
    background-image: url(../../images/video.jpg);
    background-repeat: no-repeat;
    padding-top: 70px;
    padding-bottom: 85px;
}


.video__title {
    font-weight: 700;
font-size: 36px;
line-height: 1.47;
text-align: center;
color: #FFFFFF;
margin-bottom: 30px;
 text-shadow: 10px 10px 20px red;
}

.video__text {
    font-weight: 400;
font-size: 16px;
line-height: 1.56;
text-align: center;
color: #FFFFFF;
margin-bottom: 70px;
}

.video__images {
   width: 970px;
   height: 430px;
   background-image: url(../../images/video-img.png);
   margin-left: auto;
   margin-right: auto;
   display: flex;
   align-items: center;
   justify-content: center;
//    border-radius: 10px;
}



.video__button {
    font-weight: 500;
font-size: 16px;
line-height: 1.56;
color: #FFFFFF;
padding: 20px 40px;
border: 1px solid #FFFFFF;
border-radius: 200px;
background-color: transparent;
display: flex;
justify-content: center;
align-items: center;
}

.video__button:hover,
.video__button:focus {
    color: red;
    border: 1px solid red;
    cursor: pointer;
}

.video__button::before {
    display: block;
    content: '';
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid  #4985FF;
    background-image: url(../../images/play.svg);
    margin-right: 21px;
    background-color: #4985FF;
}

.video__button:hover::before,
.video__button:focus::before {
    background-color: red;
    border: 1px solid  red;
}



.video__border {
    border-bottom: 1px solid #E0E0E0;
    margin-top: 85px;
}
